text {
  font-family: Futura, sans-serif;
}

body {
  font-family: Futura , sans-serif;
  display: flex;
  flex-direction: row;
  background: #FAFAFA;
}

div.tooltip {
    margin-top: 200px;
    margin-left: 800px;
    position: absolute;
    text-align: center;
    width: 140px;
    height: 100px;
    padding: 2px;
    font-family: Futura, sans-serif;
    font: 12px sans-serif;
    font-weight: bold;
    background: orange;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


}

.menu-container {
  margin-top: 8.5%;
  margin-left: 1%;
}

.menu-container > p {
  font-weight: 700;
}

select {
  font-family: Futura, sans-serif;
}
