text {
  font-family: Futura, sans-serif;
}

body {
  font-family: Futura , sans-serif;
  display: flex;
  flex-direction: row;
  background: #FAFAFA;
}

div.tooltip {

    position: absolute;
    text-align: center;

    padding: 10px;
    font-family: Futura, sans-serif;
    font: 12px sans-serif;

    background: orange;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

span {
  font-size: 16px;
}


}

.menu-container {
  margin-top: 8.5%;
  margin-left: 1%;
}

.menu-container > p {
  font-weight: 700;
}

select {
  font-family: Futura, sans-serif;
}
